devpack
neodroid
numpy
scipy
scikit-image
tqdm
Pillow
matplotlib
pip
h5py
torch
torchaudio
tensorflow
pycocotools
albumentations
keras>=3.12.0 # not directly required, pinned by Snyk to avoid a vulnerability
