devpack
neodroid
numpy
scipy
scikit-image
tqdm
Pillow
matplotlib
pip
h5py
torch
torchaudio
tensorflow
pycocotools
albumentations
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
