devpack
neodroid
numpy
scipy
scikit-image
tqdm
Pillow
matplotlib
pip
h5py
torch
torchaudio
tensorflow
pycocotools
albumentations
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
